.profilepic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: large;

  padding-right: 50px;
}
.follows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: large;
  padding-right: 50px;
  
}
.img {
  
  border-radius: 50%;
}
.info {
  font-size: large;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: large;

  padding-bottom: 20px;
  
}

.rectangle {
  margin-right: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  border-radius: 5%;
  
  width: 200px;
  height: 30px;

  text-align: center;
  vertical-align: middle;


  
  background-color: lightblue;
  
  
  color: white;
}

.rectangle1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  border-radius: 5%;
  
  width: 200px;
  height: 30px;

  text-align: center;
  vertical-align: middle;


  
  background-color: lightgray;
  
  
  color: black;
}

.images {
  padding: 15px;
  text-align: center;

}
.posts {
  text-align: center;
  width: 32%;
}



.symbols {
  height: 30px;

  display: flex;
  justify-content: space-between;

  padding-left: 60px;
  padding-bottom: 10px;
  padding-right: 60px;




}
